{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}UruSA{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3>Alta de Clientes</h3>
</div>

<!-- {{ wtf.quick_form(form) }} -->

<form action="#" method="POST">


	{{ form.csrf_token }}</br>
    {{ form.name.label }} {{ form.name(size=20) }}</br>
    {{ form.age.label }} {{ form.age(size=20) }}</br>
  	{{ form.add.label }} {{ form.add(size=20) }}</br>
    {{ form.cou.label }} {{ form.cou(size=20) }}</br>
    {{ form.doc.label }} {{ form.doc(size=20) }}</br>
    {{ form.dat.label }} {{ form.dat(size=20) }}</br>
    {{ form.ema.label }} {{ form.ema(size=20) }}</br>
    {{ form.pos.label }} {{ form.pos(size=20) }}</br></br>

	 {% with messages=get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<label class="alert alert-warning">{{message}}</label>

			{% endfor %}
		{% endif %}
	{% endwith %}

  {{ form.submit }}

  <input type="reset" value="Borrar todo", id="123">

		</div>
	</div>
</form>
{% endblock %}
