{% extends "bootstrap/base.html" %}

{% block title %}UruSA{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">UruSA</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li><a href="/about">About</a></li>
                <li><a href="/clientes">Lista de Clientes</a></li>
                <li><a href="/altacliente">Alta de clientes</a></li>
                <li><a href="/productos">Productos</a></li>
                <li> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Consultas
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/clipais">Clientes por pais</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/cliedad">Clientes por rango edad</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/cliealta">Clientes por rango f alta</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/prodmasvendido">N prod mas vendidos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/clientesmasgasto">Clientes que mas gastaron</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/clientesporprod">Clientes comprar un prod</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/prodporcliente">Productos que compro un cliente</a>
                  </div>
                </li>

                <li><a href="/ventaproducto">Nueva Venta</a></li>
                <li><a href="/">Login</a></li>
                <li><a href="/altausuario">Registro</a></li>
                <li><a href="/logout">Salir</a></li>
                <li class="nav-item dropdown">
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
