{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3>Lista de Productos: </h3>
    <button onclick="window.location='/altaproducto'" class="btn btn-success">Agregar</button>

</div>


<div class="container-fluid">
	<table class="table table-bordered table-condensed" >
		<tbody>
		{% for linea in  model %}
			<tr class="active">
				{% for item in  linea %}

				<td >{{item}}</td>
				{% endfor %}

		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>


{% endblock %}
