{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}UruSA{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3>Clientes que comprararon un determinado producto </h3>
</div>

<!-- {{ wtf.quick_form(form) }} -->

<form action="#" method="POST">


	{{ form.csrf_token }}</br>
    {{ form.nombre.label }} {{ form.nombre(size=20) }}</br></br>

	 {% with messages=get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<label class="alert alert-warning">{{message}}</label>

			{% endfor %}
		{% endif %}
	{% endwith %}

  {{ form.submit }}


		</div>
	</div>
</form>
{% endblock %}
